extend ../layout.jade

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 姓名
                        th 录入时间
                        th 更新时间
                tbody
                each item in user
                    tr(class="item-id-#{item._id}")
                        td #{item.name}
                        td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
                        td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
block script
    script(src="/libs/moment/min/moment.min.js")