doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{title}
        include ./include/style
    body
        include ./include/header
        block content
        include ./include/footer
        include ./include/script
        block script